@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

:root {
    --screen-background-color: #dddcdc;
    --title-font-color: #3c6e71;
    --canvas-background-color: #616161;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Fugaz One", Courier, sans-serif;
    background-color: var(--screen-background-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.control-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: var(--title-font-color);
    font-size: 2.5em;
}

.control-container h1 {
    margin-bottom: 0.5em;
}

.input-label-container {
    display: flex;
    width: 70%;
}

#probability-value {
    padding-left: 1em;
    width: 40%;
}

.letterP {
    color: darkred;
    font-size: 1.2em;
}

#probability-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    height: 20px;
    background: rgb(187, 187, 187);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#probability-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--title-font-color);
    cursor: pointer;
}


.canvas-container {
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#percolation-canvas {
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    background-color: var(--canvas-background-color);
    /*margin: auto;*/
}

/* RESPONSIVENESS */

/* Smart phones */
@media (max-height: 920px) and (max-width: 450px) {
    .control-container {
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    .canvas-container {
        width: 100%;
        height: 50%;
    }

    #percolation-canvas {
        width: 80%;
        height: 60%;
    }
}
