@import url('https://fonts.googleapis.com/css2?family=Fugaz+One');


:root {
    --screen-background-color: #dddcdc;
    --main-font-color: #3c6e71;
    
    --inter-link-distance: 8em;

    --canvas-background-color: #605f5f;
    --canvas-width: 40vw;
    --canvas-height: 55vh;

    --progress-box-background: #ff7d00;
    --progress-box-text: #ffecd1;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Fugaz One", Courier, sans-serif;
    font-display: block;
    background-color: var(--screen-background-color);
}


h1 {
    color: var(--main-font-color);
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}


.nav-link {
    color: var(--canvas-background-color);
    font-size: 1.2em;
    cursor: pointer;
    display: inline;
}

.nav-link:hover {
    color: var(--main-font-color);
    text-decoration: underline;
}

#source-code-link {
    margin-right: var(--inter-link-distance);
}

#about-page-link {
    margin-left: var(--inter-link-distance);
}


#percolation-canvas {
    width: var(--canvas-width);
    height: var(--canvas-height);
    border-radius: 10px;
    background-color: var(--canvas-background-color);
    margin-top: 0.5em;
}


#probability-slider {
    width: var(--canvas-width);
    height: 20px;
    margin-top: 1em;

    -webkit-appearance: none;
    appearance: none;
    background: rgb(187, 187, 187);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#probability-slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;

    -webkit-appearance: none;
    appearance: none;
    background: var(--main-font-color);
    cursor: pointer;
}

#probability-value {
    display: block;
}


#progress-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 260px;
    height: 25px;
    
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
    border: 1px solid var(--progress-box-text);
    border-radius: 10px;

    color: var(--progress-box-text);
    background-color: var(--progress-box-background);
}