@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --screen-background-color: #dddcdc;
    --main-font-color: #3c6e71;

    --canvas-background-color: #605f5f;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "JetBrains Mono", monospace;
    font-display: block;
    background-color: var(--screen-background-color);
}


h1 {
    color: var(--main-font-color);
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0.1em;
    margin-top: 0.5em;
}

#subtitle {
    color: var(--canvas-background-color);
    font-size: 1em;
    max-width: 720px;
    margin: 0 auto 0.6em auto;
    line-height: 1.4;
}

.nav-link {
    color: var(--canvas-background-color);
    font-size: 1.2em;
    cursor: pointer;
    display: inline;
}

.nav-link:hover {
    color: var(--main-font-color);
    text-decoration: underline;
}


#percolation-canvas {
    border-radius: 10px;
    background-color: var(--canvas-background-color);
    margin-top: 0.5em;
}


#probability-slider {
    height: 20px;
    margin-top: 1em;

    -webkit-appearance: none;
    appearance: none;
    background: rgb(187, 187, 187);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
}

#probability-slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;

    -webkit-appearance: none;
    appearance: none;
    background: var(--main-font-color);
    cursor: pointer;
}

#probability-value {
    display: block;
}


/* About page */
#about-card {
    border: 1px solid var(--canvas-background-color);
    border-radius: 10px;
    width: 50vw;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
}

h2 {
    font-size: 1.5em;
}

#about-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    text-align: left;
}


/* general portrait phones */
@media only screen and (min-width: 320px) {
    #percolation-canvas {
        width: 90vw;
        height: 45vh;
    }

    #about-page-link {
        margin-left: 5em;
    }

    #probability-slider {
        width: 90vw;
    }

    #about-card {
        width: 90vw;
    }
}


/* general portrait tablets */
@media only screen and (min-width: 600px) {
    #percolation-canvas {
        width: 65vw;
        height: 50vh;
    }

    #about-page-link {
        margin-left: 9em;
    }

    #probability-slider {
        width: 65vw;
    }

    #about-card {
        width: 80vw;
    }
}


/* General desktop */
@media only screen and (min-width: 980px) {
    #percolation-canvas {
        width: 40vw;
        height: 50vh;
    }

    #about-page-link {
        margin-left: 8em;
    }

    #probability-slider {
        width: 40vw;
    }
}


/* High res desktops */
@media only screen and (min-width: 1281px) {
    h1 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #percolation-canvas {
        width: 35vw;
        height: 45vh;
    }

    #about-page-link {
        margin-left: 10em;
    }

    #probability-slider {
        width: 35vw;
    }

    #about-card {
        width: 50vw;
    }
}

#play-pause-btn {
    min-width: 90px;
}
